
.aboutme-img{
    width: 45%;
}
.aboutme-img img{
    width: 80%;
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}
.aboutme-details{
width: 45%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 30px;
color: rgb(204, 154, 15);
font-family: Ubuntu;
}
.about-text{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: rgb(4, 110, 36);

}

@media screen and (max-width:450px) {
.div{
  flex-direction: column;
  width: 100%;
}
.aboutme-img{
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
}
img{
  width: 100%;
}
.about-text{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: rgb(4, 110, 36);

}
.aboutme-details{
  font-size: 8px;
  width: 100%;
  padding: 45px;
  text-align: left;
}
}
@media screen and (max-width:1044px) {
  
  .aboutme-details{
    font-size: 25px;
  }
  }
