.br{
  padding-top: 100px;
}

.card{
    margin-top: 50px;
    margin-left: 20px;
    align-items: center;
    padding: 15px;
	border-radius: 15px;
    width: 80%;
    background-color: rgb(189, 162, 178);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  height: auto;
}
.skill{
  margin-top: 80px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(4, 110, 36);
    text-align: center;
}

.skill-logo img{
	width:100%;
	height: 220px;
	padding-bottom: 25px;
}

.div-card{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4,1fr);

}
@media screen and (max-width:1044px) {
 
  .div-card{
    grid-template-columns: repeat(2,1fr);
  }
  card{  
    width: 60%;
  }
  .skill-logo img{
    width: 100%;
    height: 250px;
  }
  }
  @media screen and (max-width:450px) {
    card{  
      width: 30%;
    }
    .skill{
      font-size: 30px;
    }
    .skill-logo{
        text-align: center;
    }
    .skill-logo img{
      width: 80%;
      height: 150px;
    }
  }