.br{
  padding-top: 100px;
}

.card{
    margin-top: 50px;
    margin-left: 20px;
    align-items: center;
    padding: 15px;
	border-radius: 15px;
    width: 80%;
    background-color: rgb(189, 162, 178);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  height: auto;
}
.skill{
  margin-top: 80px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(4, 110, 36);
    text-align: center;
}

.skill-logo img{
	width:100%;
	height: 220px;
	padding-bottom: 25px;
}

.div-card{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4,1fr);

}


.outer-circle{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.015),
  -6px -6px 10px -1px rgba(255,255, 255, .7);
  padding:20px;
}
.inner-circle{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow:inset 4px 4px  6px -1px rgba(0, 0, 0, .2),
    inset -4px -4px  6px -1px rgba(255, 255, 255, .7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, .2),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.circle-html{
    color: transparent;
    fill: none;
    stroke-width: 20px;
    stroke: url('#linear');
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: html 3s linear forwards;
}
@keyframes html {
    100%{
        stroke-dashoffset: 65;
    }
}
.circle-css{
    color: transparent;
    fill: none;
    stroke-width: 20px;
    stroke: url('#linear');
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: css 3s linear forwards;
}
@keyframes css {
    100%{
        stroke-dashoffset: 100;
    }
}
.circle-php{
    color: transparent;
    fill: none;
    stroke-width: 20px;
    stroke: url('#linear');
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: php 3s linear forwards;
}
@keyframes php {
    100%{
        stroke-dashoffset: 95;
    }
}
.circle-react{
    color: transparent;
    fill: none;
    stroke-width: 20px;
    stroke: url('#linear');
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: react 3s linear forwards;
}
@keyframes react {
    100%{
        stroke-dashoffset: 200;
    }
}

.default{
  color: transparent;
  fill: none;
  stroke-width: 20px;
  stroke: url('#linear');
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: o s linear forwards;
}
















@media screen and (max-width:1044px) {
 
  .div-card{
    grid-template-columns: repeat(2,1fr);
  }
  card{  
    width: 60%;
  }
  .skill-logo img{
    width: 100%;
    height: 250px;
  }
  }
  @media screen and (max-width:450px) {
    card{  
      width: 30%;
    }
    .skill{
      font-size: 30px;
    }
    .skill-logo{
        text-align: center;
    }
    .skill-logo img{
      width: 80%;
      height: 150px;
    }
  }